@font-face {
	font-family: AlteHaasGroteskBold;
	src: url("AlteHaasGrotesk_Bold.ttf");
}
div { margin:0px }
body { font-size:120%; font-family:sans-serif; color:#DDDDDD; }
h2 { font-family:AlteHaasGroteskBold; font-size:145%; margin:30 0 30 0px; padding:0px; }
/*a { text-decoration:none; color:#2D6FAC; }*/
a { text-decoration:none; color:#5AA0DD; }
a:hover { text-decoration:underline; }
p { text-align:justify; }
#logo {
	color:yellow;
	font-size:195%;
	padding:8px;
	text-align:center;
	font-family:AlteHaasGroteskBold;
	font-weight:bold;
	border:5px solid yellow;
	-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
	text-decoration:none;
}
#menu { width:100%; margin:30 0 30 0px; }
#menu .delim { font-weight:bold; margin-left:5px; margin-right:5px; }
#content { width:70%; margin:0 auto; }
#content .content_section { margin-bottom:20px; }
#content pre { font-size:110%; font-family:Monospace; padding:10px; background:#042029; color:#839496; white-space: pre-wrap; white-space:-moz-pre-wrap; white-space:-pre-wrap; white-space:-o-pre-wrap; word-wrap:break-word; }
#content li { padding:5px; }
#content ul { list-style:square; }
.cmd {font-size:105%; background-color:#EFEFEF; font-family:Monospace; padding-left:4px; padding-right:4px; }

